<app-signup></app-signup>

<div class="row">
    <div class="col sm 6">
        <img class="align-middle m-5"
        height="355px"
        src="/assets/What-Is-avnit-Image.png">
    </div>
    <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is Avnit?</h2>
    
        <h6 class="mx-4 my-1">
            Welcome to Avnit.
           <br/><br/>
                Avnit is a thought-sharing platform where you can bring your ideas and insights to life. 
                Here, you can share your thoughts, explore new perspectives, and interact with a community of thinkers,
                writers, and dreamers.  Join Avnit and connect with a world of unique voices and creative minds. 
                <br/><br/> 
                Create a free account to get started, post your ideas, and dive into discussions by commenting on others' posts.
                <br/><br/>
                Let's get started!   
        </h6>
    </div>
</div>
<hr/>
<hr/>
<div class="contact-section">
  <div class="text-center">
    <h5>Contact Us</h5>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 contact-info">
      <i class="fa fa-envelope"></i>
      <span>Email:</span>  avnit2024&#64;gmail.com
      <br />
      <i class="fa fa-phone"></i>
      <span>Phone:</span> +91 9988776655
    </div>
   
    <div class="col-md-5 contact-info">
      <i class="fa fa-map-marker"></i>
      <span>Address:</span> <br/>
      Codeing World Pvt. Ltd.<br/>
      B-54 Prime Heights,<br/>
      Morshi Road, Near Panchavati,<br/>
      Amravati, India - 444606
    </div>
  </div>
</div>

<footer class="footer text-center">
    <div class="footer-content">
      <p>
        <i class="fa fa-facebook"></i>
        <span>Designed by:</span> Bhargav N. Bhatti
      </p>
      <p>© 2024 Avnit. All rights reserved.</p>
    </div>
  </footer>
